<html>
	<head>
		<script src="/socket.io/socket.io.js"></script>
		<script src="../javascripts/desktop.js"></script>
	</head>
	<body>
		<input id="room" placeholder="ROOM?" type="text" />
		<button id="button" onclick="createGame()">Create Game</button>
	    <h1 id="h1"></h1>
    	<link rel="stylesheet" href="/vendor/jquery.mobile-1.4.2.min.css" />
    	<audio id="slow" src="/songs/slow.mp3" type="audio/mpeg"></audio>
    	<audio id="fast" src="/songs/fast.mp3" AUTOPLAY type="audio/mpeg"></audio>
    	<script src="/vendor/jquery-1.9.1.min.js"></script>
    	<script src="/vendor/jquery.mobile-1.4.2.min.js"></script>
    	<div id="reggie"></div>
</body>
</html>